<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= post.title %></div>
  <div>Content: </div>
  <div><%= post.content %></div>

  <a href="/posts/<%= post.id %>/edit">Edit Post</a>

<h2></h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>
<% } %>

<% if (post.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% post.comments.forEach(function(c) { %>
        <% console.log(c._id) %>
        <tr>
          <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
              <form action="/comments/<%=c._id %>?_method=PUT" method="POST">
                <input name="content" value="<%= c.content %>">
                <button type="submit">EDIT COMMENT</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>

    
  <%- include("../partials/footer")%>