<%- include('../partials/header') %>

<section id="show-page">
    <div>Post</div>
    <div>Content</div>
</section>

<h5 class="post-show-title">Comments</h5>
<div class="comment-list">
  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/posts/<%= post._id %>/comments">
      <label>Comment:</label>
      <textarea name="content"></textarea>
      <input type="submit" value="Add Comment">
    </form>
  <% } %>
  <% let total = 0 %>
  <% post.comments.forEach(comment => { %>
    <div class="comment">
      <div class="profile">
        </a><img src="<%= comment.userAvatar %>"alt="avatar"><%= comment.userName %>
      </div>
      <p><%= comment.text %> </p>
      <div class="comment-options">
        <% if (user && user._id.equals(comment.user)) { %>
          <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <input type="image" src="/images/trash-can-solid.svg" alt="delete">
          </form>
        <% } %>
      </div>
    </div>
  <% }) %>
</div>
    
  <%- include("../partials/footer")%>